<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player_Category</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Player_Category</td>
                <td><input type="text" name="Player_Category" ></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Submit">
                    <input type="reset"  name="btnreset"  value="Reset">
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>SINo</td>
                <td>Player_Category</td>
            </tr>
            {% for i in Player_Categorydata %}
            <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.Player_Category}}</td>
            <td><a href="{% url 'webclass:delete_Player_Category' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
            
        </table>
    </form>
</body>
</html>